<section class="landing">
    <div class="row intro-text" id="instructionsText">
        <div class='console-container'>GET<span id='text'></span><div class='console-underscore' id='console'></div></div>
        <p class="instructions">Discover your next favorite video game or catch up on one you already love. Video
            Game Hypeman is built to bring you everything you need know about any game. Want to see videos about a
            game from YouTube? Coming right up! Need some livestreams in your life? No problem we’ll pull the top
            streams from Twitch now! Video Game Hypeman is a powerful tool in your personal arsenal. Go ahead and
            try it out, it’s magic. All you need to do is type the game you’re looking for in that nifty search bar
            up there and we’ll do the rest.</p>

        <br>

        
            <div class='center'><a v-show="meetShow" v-on:click="display_meet()" style=" margin-left: 5px;">Meet the Team</a></div>
            <Meet v-show="MeetShow"/>
 
          
        
    </div>
</section>