#instructionsText{
    width: 100%;
    overflow: hidden;
}

.hype {
    color: #66FCF1;
    font-size: 200px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 10px;
}

.instructions {
    font-size: 24px;
    color: #C5C6C7;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-right: 30px;
    margin-left: 30px;
}



@import url(https://fonts.googleapis.com/css?family=Khula:700);

.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:7em;
  text-align:center;
  color:#C5C6C7;
  margin:auto;
}

@media only screen and (max-width: 1000px) {
  .console-container {
    font-size:5em;
  }
  .instructions {
    font-size: 20px;
}
}


@media only screen and (max-width: 600px) {
  .console-container {
    font-size:2em;
  }
  .instructions {
    font-size: 16px;
}
}
