body::-webkit-scrollbar {
      display: none;
    }
  
  .twitch {
      margin-top: 10px;
      background-image: url("./assets/images/TwitchIcon.png");
      background-size: 50px 50px;
      background-repeat: no-repeat;
      background-color: #0B0C10;
      height: 50%;
      width: 50%;
  }
  
  .youtube {
      margin-top: 10px;
      background-image: url("./assets/images/YouTubeIcon.png");
      background-size: 50px 50px;
      background-repeat: no-repeat;
      background-color: #0B0C10;
      height: 50%;
      width: 50%;
  
  }
  
  #noBackPlease{
      border: 0px;
  }
  
  .carousel-inner,
  #picsBTN,
  #youtubeBTN,
  #twitchBTN {
      visibility: hidden;
  }
  
  .searchBtn {
      background-image: url("./assets/images/SearchIcon.png");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-color: #0B0C10;
      margin-left:3px;
      height: 42px;
      width: 42px;
  }
  
  .searchBtn:hover {
      background-image: url("./assets/images/SearchIconHover.png");
      background-size: 100% 100%;
      background-color: #0B0C10;
  }
  
  .searchBtn:focus {
      background-image: url("./assets/images/SearchIconHover.png");
      background-size: 100% 100%;
      background-color: #0B0C10;
      outline: 0;
  }
  
  
  .official {
      margin-top: 10px;
      background-image: url("./assets/images/ScreenShotIcon.png");
      background-size: 50px 50px;
      background-repeat: no-repeat;
      background-color: #0B0C10;
      height: 50%;
      width: 50%;
  }
  
  .official:hover {
      background-image: url("./assets/images/ScreenShotIconHover.png");
      background-size: 50px 50px;
      background-color: #0B0C10;
  }
  
  .official:focus {
      background-image: url("./assets/images/ScreenShotIconHover.png");
      background-size: 50px 50px;
      background-color: #0B0C10;
  }
  
  .youtube:hover {
      background-image: url("./assets/images/YouTubeIconHover.png");
      background-size: 50px 50px;
      background-color: #0B0C10;
  }
  
  .youtube:focus {
      background-image: url("./assets/images/YouTubeIconHover.png");
      background-size: 50px 50px;
      background-color: #0B0C10;
  }
  
  .twitch:hover {
      background-image: url("./assets/images/TwitchIconHover.png");
      background-size: 50px 50px;
      background-color: #0B0C10;
  }
  
  .twitch:focus {
      background-image: url("./assets/images/TwitchIconHover.png");
      background-size: 50px 50px;
      background-color: #0B0C10;
  }
  
  .socialBtn {
      width: 50px;
      height: 50px;
  }
  
  .material-tooltip-main {
      z-index: 999999;
  }
  
  iframe,
  img {
      height: 72vh;
      width: 100%;
      border: 2px solid #45A29E;
  }
  
  iframe {
      background: url(./assets/images/mediaScreen.JPG);
      background-size: 100% 100%;
  }
  
  #hi8 {
      height: 6.75vh;
      width: 100%;
  }
  #hi9 {
      height: 6.75vh;
      width: 100%;
      overflow: hidden;
  }
  #hi10 {
      height: 6.75vh;
      width: 100%;
  }
  
  #instructionsText{
      
      width: 100%;
      overflow: hidden;
  }
  
  #meetTheTeam{
  text-align: center;
  color: #66FCF1;
  font-size: 15px;
  }
  
  .container {
      width: 100vw;
  }
  
  figure {
      display: none;
  }
  
  body {
      background: #0b0c10;
  }
  
  .slick-active {
      background: #45A29E;
  }
  
  #slick-slide-control00,
  #slick-slide-control01,
  #slick-slide-control02,
  #slick-slide-control03,
  #slick-slide-control04 {
      background: white;
      color: green;
  }
  
  button {
      color: green;
  }
  
  .carousel-inner,
  #picsBTN,
  #youtubeBTN,
  #twitchBTN {
      visibility: hidden;
  }
  
  .slick-prev {
      position: absolute;
      left: 0;
      margin-left: 10px;
      z-index: 5;
      padding: 10vw 15vw 10vw 0vw;
      width: unset;
  
  }
  
  .slick-next {
      position: absolute;
      right: 0;
      margin-right: 10px;
      z-index: 5;
      padding: 10vw 0vw 10vw 15vw;
      width: unset;
  }
  
  #VGHlogo {
      background: url(./assets/images/VGHypemanLogo.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 200px;
      height: 85%;
      margin-top: 4px;
      position: relative;
  
  }
  
  #VGHlogoMobile {
      background: url(./assets/images/VGHMobileColor.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 17.5vw;
      height: 85%;
      margin-top: 4px;
  }
  
  
  
  #game-entry {
      color: white;
      /* width: 500px; */
      height: 37px;
      width: 100%;
      background-color: rgba(102, 252, 242, 0.253);
      border-radius: 6px;
      border: 1px #66FCF1 solid;
      
      z-index: 5;
  }
  
  span {
      color: #ffffff;
  
  }
  
  .game-name {
      text-align: center;
      color: #ffffff;
  }
  
  
  .game-title {
      text-align: left;
      color: black;
  }
  
  .icon-color {
      color: #66FCF1;
  }
  
  #game-modal {
      visibility: hidden;
  }
  
  .modalStyle {
      color: #C5C6C7;
      background-color: #1F2833;
  }
  
  #modalFooterStyle {
      color: #C5C6C7;
      background-color: #1F2833;
  }
  
  .footerButton{
      color:#C5C6C7;
  background-color:#45A29E;
  }
  
  #gameNameModal {
      color: #66FCF1;
  }
  
  #gameNameTitle {
      font-size: 1.75em;
  }
  
  #gameNameModal {
      font-size: 2em;
  }
  
  h2 {
      font-size: 1.5em;
  }
  
  #game-submit
  {
      border: 0px;
  }
  
  .modalStyle::-webkit-scrollbar {
      display: none;
    }
  
  .hype {
      color: #66FCF1;
      font-size: 200px;
      text-align: center;
      font-family: 'Bebas Neue', cursive;
      margin-bottom: 10px;
  }
  
  .nav-wrapper {
      background-color: #0B0C10;
  }
  
  .instructions {
      font-size: 24px;
      color: #C5C6C7;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      margin-right: 30px;
      margin-left: 30px;
  }
  
  
  .fluid-height {
      display: none;
  }
  
  @media screen and (max-width:850px) {
      #gameNameTitle {
          font-size: 1.25em;
      }
  
      .material-icons {
          font-size: 1.25rem;
      }
  }