<section class="pic">
  <h1>picture Component</h1>

  <div id="w100" class="carousel-inner single-item">

    <div class="carousel-item active car1" data-interval="5000">
        <img :src="img1" class="Slide1 Slide1img d-block car-img" alt="...">
      
    </div>
    <div class="carousel-item car2" data-interval="5000">
        <img :src="img2" class="Slide2 Slide2img d-block   car-img" alt="...">
     
    </div>
    <div class="carousel-item car3" data-interval="5000">
        <img :src="img3" class="Slide3 Slide3img d-block   car-img" alt="...">
       
    </div>
    <div class="carousel-item car4" data-interval="5000">
        <img :src="img4" class="Slide4 Slide4img d-block   car-img" alt="...">
      
    </div>
    <div class="carousel-item car5" data-interval="5000">
        <img :src="img5" class="Slide5 Slide5img d-block   car-img" alt="...">
  
    </div>
</div>
</section>