.test {
      background-color: #0b0c10;
      /* background-color: darkgrey; */

}

.v-sidebar-menu {
  overflow-y: scroll;

}

.v-sidebar-menu::-webkit-scrollbar {
    width: 1em;
  }
   
  .v-sidebar-menu::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px #66FCF1;
  }
   
  .v-sidebar-menu::-webkit-scrollbar-thumb {
    background-color: rgba(169, 169, 169, 0);
    outline: 1px solid slategrey;
    opacity: 0;
  }

  .btn-close {
    border: none;
    font-size: 20px;
    /* padding: 20px; */
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
  }

  .btn-settings{
    border: none;
    font-size: 20px;
    cursor: pointer;
    width:20px;
    height:20px;
    background: transparent;
    
  }
  .btn-settings-image{
    border: none;
    cursor: pointer;
    width:20px;
    height:20px;
    background: transparent;
    margin-top:15px;
    margin-left:15px;
  }

  .btn-settings-image:hover{
    background-image: url("../../../public/assets/settingsOnHoverIcon.png");
    background-size: 100% 100%;
    background-color: #0B0C10;
    cursor: pointer;
    width:20px;
    height:20px;
    margin-top:15px;
    margin-left:15px;
  }

  .btn-settings:focus{
      background-color: #0B0C10;
      outline: 0;
  }
  

  #user-picture{
    border: none;
    width: 200px; 
    height: 200px;  
    margin-top: 35px;
  }

  .small {
    height: 20px;
    width: 20px;
  }