<section class="profile">
  
  <sidebar-menu :menu="menu" class="test">
    <span slot="header"><img src="../../../public/assets/BenImage.png" style="width: 100px; height: 100px;  margin-top: 35px;"><h5>User Name Here</h5></span>
    <span slot="header">E-Mail</span>
    <span slot="header"><hr style="border: 1px solid #66FCF1;"></span>
    <span slot="header"><h5>Favorite Games</h5></span>
    <span slot="header"><img src="../../../public/assets/fb.png" style="width: 20px; height: 20px;" class="gameThumb">Favorite Games 1</span>
    <span slot="header"><img src="../../../public/assets/fb.png" style="width: 20px; height: 20px;" class="gameThumb">Favorite Games 1</span>
    <span slot="header"><img src="../../../public/assets/fb.png" style="width: 20px; height: 20px;" class="gameThumb">Favorite Games 1</span>
    <span slot="header"><img src="../../../public/assets/fb.png" style="width: 20px; height: 20px;" class="gameThumb">Favorite Games 1</span>
    <span slot="header"><img src="../../../public/assets/fb.png" style="width: 20px; height: 20px;" class="gameThumb">Favorite Games 1</span>
    
  
    
    <button slot="header" v-on:click="close()">CLOSE ME CLOSE ME</button>
    <span slot="footer" >I am a footer down here, watch where you're walkin</span>
</sidebar-menu>
</section>

