<section class="profile" >
  <sidebar-menu :menu="menu" class="test" id="user-sidebar">
    
    <span class="center" slot="header">
      
      <button class="btn-settings" slot="header" v-on:click="display_imageupload()"><img src="../../../public/assets/settingsIcon.png" class="btn-settings-image"></button>
      <img class="circle" id="user-picture" src="../../../public/assets/defaultUserProfImage.png"> 
      <button class="btn-close" slot="header" v-on:click="close()" style="float: right;">x</button>
      <h5 id="user-username">User Name Here</h5></span>

      <Imageupload v-show="ImageuploadShow" />
    
    <span id="user-email" slot="header">E-Mail</span>
    <span slot="header"><hr style="border: 1px solid #66FCF1;"></span>
    <span slot="header"><h5 class="favoriteHeader">Favorite Games:</h5></span>
    <span slot="header" v-for="art in gameObject">
      <div class="gameName"><img src="../../../public/assets/unfavoriteGameImage.png" class="unfavoriteGame" v-on:click="unfavoriteGame(art.game, art.art)"> <span >{{art.game}}</span></div>      
      <img :src="art.art" alt=""  class="gameArt" :data="art.game" v-on:click="goToGame(art.game)">
    </span>
    
    <button class="btn" slot="footer" v-on:click="close()">CLOSE PROFILE</button>
    
</sidebar-menu>
</section>

